body{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    border: 5px solid black;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
}